<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plant predictor</title>
</head>
<body>
<h1>Predict plant species based on it's leafy features</h1>
<div>
    <form class="mui-form" method="POST" action="/index" style="text-align: center;">
    <label for="plantfeatures">Plant features</label>
    <input type="text" class="form-control" id="plantfeatures" name="plantfeatures" placeholder="features">
    <button type="submit" class="mui-btn mui-btn-raised" value="submit">Search</button>
    </form>

</div>

<form>
</form>
</body>
</html>